app-manifests/.terraform/
app-manifests/.terraform.lock.hcl
app-manifests/out.terraform
app-manifests/terraform.tfvars
app-manifests/terraform.tfstate
app-manifests/terraform.tfstate.backup

eks/.terraform/
eks/.terraform.lock.hcl
eks/out.terraform
eks/terraform.tfvars
eks/terraform.tfstate
eks/terraform.tfstate.backup

ingress-nginx/.terraform/
ingress-nginx/.terraform.lock.hcl
ingress-nginx/out.terraform
ingress-nginx/terraform.tfvars
ingress-nginx/terraform.tfstate
ingress-nginx/terraform.tfstate.backup

kind/.terraform/
kind/.terraform.lock.hcl
kind/out.terraform
kind/terraform.tfvars
kind/terraform.tfstate
kind/terraform.tfstate.backup

monitoring/.terraform/
monitoring/.terraform.lock.hcl
monitoring/out.terraform
monitoring/terraform.tfvars
monitoring/terraform.tfstate
monitoring/terraform.tfstate.backup

app/*.exe
app/*.exe~
app/*.dll
app/*.so
app/*.dylib
app/*.test
app/*.out
app/vendor/
app/go.work